body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ::-webkit-scrollbar-track {
  background: #888888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#c2e59c, #64b3f4);
  border-radius: 5px;
} */

.scrollArea2::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(179, 179, 179), #6c5b7b, #8f8f8f);
  box-shadow: inset 2px 2px 2px #ffffff55, inset -2px -2px 2px #66759155;
  border-radius: 7px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#ffffff, #ffffff);
}

::-webkit-scrollbar-thumb {
  background: #dcd7f8aa;
  border-radius: 2px;
}
